.bank-app {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(180deg, #011e3b, #013a6b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: auto; /* Ou um tamanho fixo */
  max-width: 100%;
  margin: 0 auto;
}

.bank-app-main {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bank-app-footer {
  margin-top: 20px;
}

.bank-app-footer button {
  margin-right: 10px;
}

